<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>

 
    <style>
 @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    background-color: black;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Share Tech Mono', monospace;
    flex-direction: column;
}
body.p404{
    background-color: blueviolet;
    color:#fff;
}
h1{
    font-size: 8vw;
}
h4{
    margin-top: -1em;
    font-size: 3vw;
}
    </style>
</head>
<body class="p404">
    <h1>Sorry!</h1>
    <h4>The resources you are looking for doesn't exists!</h4>
</body>
</html>